.App {
  
}

label {
  float: left;
  width: fit-content;
  margin: 0px 5px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li {
  list-style: none;
}

button{
   padding: 5px;
   font-weight: bold;
   cursor: pointer;
}

img{
   width: 250px;
   height: 250px;
}